*{
    box-sizing: border-box;
}

html, body{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #484b4e;
    overflow-y: visible;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.nav--hidden{
    transform: translateY(-100px);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    transition: transform 0.2s ease-in-out;
}

body header{
    background-color: transparent;
    color: rgb(255,255,255);
    transform: translateY(0px);
    transform: scaleY(1);
    width: 100%;
    padding: 30px 20px 20px;
    font-family: 'Montserrat', sans-serif;
}

nav .header-headroom{
    padding: 0;
}


nav .header-headroom .navbar-header{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0;
    margin-right: 30px;
    margin-left: 30px;
    justify-content: space-between;
}

nav .header-headroom .logo-container{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

nav .header-headroom .logo-container .logo-holder{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px 10px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}



nav .header-headroom .navbar-navlist{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    letter-spacing: 0.10rem;
    text-transform: uppercase;
    justify-content: flex-end;
    list-style: none;
    flex: 1;
    margin-right: 30px;
}


nav .header-headroom .navbar-navlist .nav-item{
    padding: 15px;
}

nav .header-headroom .navbar-navlist .nav-link{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    nav .header-headroom .navbar-navlist .nav-listings{
        display: none;
    }
}

@media (max-width: 768px) {
    nav .header-headroom .navbar-navlist .nav-item{
        display: none;
    }
}

@media (max-width: 768px) {
    nav .header-headroom .navbar-header{
        justify-content: center;
    }
}

@media (max-width: 768px) {
    nav .header-headroom .navbar-header .logo-holder{
        font-size: 1rem;
    }
}

.nav-icon{
    width: 20px;
    height: 20px;
    color: white;
}

nav .header-headroom .navbar-navlist a:hover{
    background-color: white;
    color: black;
}


nav button{
    text-transform: none;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    cursor: pointer;
    font-family: inherit;;
}

@media (max-width: 768px) {
    nav header{
        padding: 40px 20px;
    }
}

nav header{
    display: block
}

nav .nav-default{
    border-color: transparent;
}

body .section1{
    display: flex;
    color: white;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 1px;
}

.section1 .video-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.section1 .full-screen-video-component {
    position: relative;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


@media screen and (max-width: 900px){
    .section1 .full-screen-video-component .video-wrapper-hidable-playing{
    display: none;
}

}

.section1 .video-wrapper .full-screen-video-component video{
    opacity: 1;
    transition: opacity 1s cubic-bezier(.835,0,0.19,1);
    position: absolute;
    z-index: -999;
    width: 100%;
    object-fit: cover;
}

.section1 .video-wrapper .full-screen-video-component .poster{
    opacity: 1;
    transition: opacity 1s cubic-bezier(.835,0,0.19,1);
    position: relative;
    z-index: -1000;
    width: 100%;
    object-fit: cover;
}

.section1 .video-wrapper .full-screen-video-component .poster img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



@media screen and (min-width: 900px){
    .section1 .video-wrapper .full-screen-video-component .poster{
        display: block;
    }
}


.section1 .homepage-intro-redesign{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    text-align: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    outline: none;
}


.section1 .homepage-intro-redesign .content{
    width: 100%;
    outline: none;
    padding: 20px;
}

.section1 .homepage-intro-redesign .item{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 20px 0 0;
}


.section1 .homepage-intro-redesign .item-carousel-container{
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    user-select: none;
}

.section1 .homepage-intro-redesign .item-carousel-container .slick-list{
    transform: translate3d(0,0,0);
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.item-carousel-container .slick-list .slick-track{
    transform: translate3d(0,0,0);
}

.slick-track{
    opacity: 1;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.item-slick-slide{
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index:998;
    opacity: 1;
    color: white;
    font-family: 'Montserrat', sans-serif;
}



.item-slick-slide h5{
    margin: 0;
    padding: 20px 0 10px 0 ;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


#taylor-name{
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    margin: 0.1em 0;
    outline: none;
    font-weight: 100;
}

@media screen and (max-width: 550px){
    #taylor-name{
        font-family: 'Great Vibes', cursive;
        font-size: 3rem;
        margin: 0.1em 0;
        outline: none;
        font-weight: 100;
    }
}



.sub-heading-feature img{
    width: 200px;
}

.sub-heading-feature {
    margin-bottom: 20px;
    line-height: 1.43;
    letter-spacing: 1px;
    white-space: pre-line;
}

.button-wrapper .homepage-button{
    margin: 0 auto 20px auto;
    display: block;
    max-width: 275px;
    width:  100%;
    text-align: center;
    padding: 15px 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    line-height: 1  ;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 550px){
    .button-wrapper .homepage-button{
        margin: 0 auto 70px auto;
        display: block;
        max-width: 275px;
        width:  100%;
        text-align: center;
        padding: 15px 30px;
        background: transparent;
        border: 2px solid white;
        border-radius: 0;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: white;
        line-height: 1  ;
        font-weight: normal;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
    }
}

.button-wrapper .homepage-button:hover{
    background-color: white;
    color:black;
}

.section2{
    color: #000;
    background-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section2 .gallery-component{
    padding-top: 30px;
    padding-bottom: 10px;
}

.section2 .gallery-component .lp-container{
    padding-left: 20px;
    padding-right: 20px;
}

.section2 .gallery-component .lp-container .gallery-component-header{
    margin-bottom: 30px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section2 .gallery-component .lp-container .gallery-component-header h2{
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.section2 .gallery-component .gallery-component-row{
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-component-col{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.gallery-component-col .div-images{
    padding-bottom: 20px;
}

@media screen and (max-width: 900px){
    .gallery-component-col{
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}


.gallery-card img{
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 900px){
    .gallery-card img{
        width: 100%;
    }
}

.gallery-card{
    text-decoration: none;
}

.gallery-card .caption1{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.gallery-card .caption2{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.gallery-card .caption3{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.section3{
    color: rgba(0, 0, 0, 1);
    --fontColor: rgba(0, 0, 0, 1);
    --fontColor_H: 0;
    --fontColor_S: 0%;
    --fontColor_L: 0%;
    --fontColor_A: 1;
    --fontColor_darkenDir: 1;
    --bgColor: rgba(241, 241, 241, 1);
    --bgColor_H: 0;
    --bgColor_S: 0%;
    --bgColor_L: 95%;
    --bgColor_A: 1;
    --bgColor_darkenDir: -1;
    background-color: rgba(241, 241, 241, 1);
    margin-top: 50px;
}

.section3 .about-section{
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.section3 .about-section .left-split{
    padding: 40px 0 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.section3 .about-section .left-split .split-text{
    padding: 0 30px;
    margin: 0;
}

.section3 .about-section .left-split .split-text h2{
    margin-top: 0;
    margin-bottom: 24px;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.section3 .about-section .left-split .split-text p{
    margin: 0 0 24px;
    text-align: justify;
}

.section3 .about-section .image-split{
    width: 100%;
    padding: 60px;
}

.section3 .about-section .image-split img{
    width: 100%;
}

@media screen and (max-width: 900px){
    .section3 .about-section .image-split{
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .section3 .about-section{
        display: flex;
        flex-direction: column;
    }
}